
<div class="first row px-0 px-sm-5 py-4 m-0 navbar navbar-expand-lg">
    <div class="first-left col-lg-3 d-flex flex-column align-items-start align-self-start  justify-self-sm-center">
        <div class="d-flex text-lg-center">
            <img src="assets\lenditt_images\brand1.webp" width="140px" class="navbar-brand">
        </div> 
        <div class="d-lg-flex flex-column d-none">
            <div class="d-flex align-self-start justify-content-center my-3"> 
                <a href="#second" class="btn btn-light nav-a d-flex align-center justify-content-center shadow">
                    <i class="fa-brands fa-apple"></i>
                    <span>ios App</span>
                </a>
            </div>
            <div class="d-flex align-self-start justify-content-center"> 
                <a href="#second" class="btn btn-light nav-a d-flex align-center justify-content-center shadow">
                    <i class="fa-brands fa-android"></i>
                    <span>Android App</span>
                </a>
            </div>
        </div>
    </div>
<!-- HHHHELo -->


    <div class="carousel slide imgpanel col-lg-6 p-0" data-ride="carousel">
        <div class="carousel-inner text-center">
            <div class=" carousel-item active px-2 ">
                <div class="d-md-flex flex-column-reverse">
                    <p class="imghead">Cash Crunch? Get a Loan!</p>
                    <p class="imgpara">
                        Lenditt is here to lend a financial hand with quick, hassle-free, short-term loan processes.
                    </p>
                    <img src="assets\lenditt_images\firstimg-1.webp" class="img w-sm-50 w-75">
                </div>
                <a href="#" class="btn applynowbtn my-4">Apply Now</a>
            </div>
            <div class="carousel-item px-2">
                <div class="d-md-flex flex-column-reverse">
                    <p class="imghead">Dream Bike?</p>
                    <p class="imgpara">
                        Get on the road within minutes with Instant Bike Loan Service- Fast approvals and flexible repayment options.
                    </p>
                    <img src="assets\lenditt_images\firstimg-2.webp" class="img w-sm-50 w-75">
                </div>
                <a class="btn applynowbtn my-4">Apply Now</a>
            </div>
            <div class="carousel-item px-2">
                <div class="d-md-flex flex-column-reverse">
                    <p class="imghead">Medical Mishaps?</p>
                    <p class="imgpara">
                        Who needs a superhero when Lenditt is your Instant Medical Loan Provider? Faster than an ambulance!
                    </p>
                    <img src="assets\lenditt_images\firstimg-3.webp" class="img w-sm-50 w-75">
                </div>
                <a class="btn applynowbtn my-4">Apply Now</a>
            </div>
        </div>
    </div>

    <div class="firstright col-lg-3 h-100 d-none d-lg-block justify-content-end align-items-end align-self-start">
        <div class="d-flex justify-content-sm-end justify-content-center mb-3"> 
            <a href="#second" class="btn btn-light nav-a d-flex align-center justify-content-center shadow mt-sm-0">
                <i class="fa-solid fa-house"></i>
                <span>Home</span>
            </a>
        </div>
        <div class="d-flex justify-content-sm-end justify-content-center mb-3">
            <a href="#spacer" class="btn btn-light nav-a d-flex align-center justify-content-center shadow">
                <i class="fa-solid fa-coins"></i>
                <span>Gold & Silver</span>
            </a>
        </div>
        <div class="d-flex justify-content-sm-end justify-content-center mb-3">
            <a class="btn btn-light nav-a d-flex align-center justify-content-center shadow">
                <i class="fa-solid fa-arrow-right-arrow-left"></i>
                <span>Repayment</span>
            </a>
        </div>
        <div class="d-flex justify-content-sm-end justify-content-center mb-3">
            <a href="#contact" class="btn btn-light nav-a d-flex align-center justify-content-center shadow">
                <i class="fa-solid fa-phone-volume"></i>
                <span>Contact</span>
            </a>
        </div>
    </div>
</div>