
<footer id="contact" class="nine px-lg-5 pt-5 pb-lg-4 p-2 mt-5" >
    <div class="footer-header text-center">
        <div class="header-line-1 font-weight-bold h2">Unlock your financial freedom</div>
        <div class="header-line-1 font-weight-bold h2">with lenditt</div>
        <a class="btn footer-btn mt-4 font-weight-bold" style="color: black;">Apply Now!</a>
    </div>

    
    
    <div class="rows mx-2 spacer"> 
        <div class="row footer-row p-0 m-0 mt-4">
          
            <div class="col-lg-4 card p-2 px-lg-3 bg">
                <div class="first-col-1 rounddiv h-100 p-0">
                    <img src="lenditt images\footer-img.webp" alt="" class="img-fluid h-auto w-100">
                    <p class="ml-3 mr-2 mx-sm-4 m-0 mt-2 font-weight-bold" style="color: #fff;">Partnered NBFC : Chinmay Finlease Ltd</p>
                    <p class="ml-3 mr-2 mx-sm-4 m-0 mt-2 mb-2 font-weight-bold" style="color: #fff;">NBFC registration number A.01.00558</p>
                </div>
            </div>

            <div class="col-lg-4 card bg px-lg-3 p-2">
                <div class="second-col-1 pb-3 px-3 d-flex flex-column h-100 rounddiv">
                    <h4 class="ml-2 mt-3 font-weight-bold">Our Services</h4>
                    <a href="#fifth-2" class="mt-3 ml-2 font-weight-bold">Personal Loan</a>
                    <a href="#fifth-2" class="mt-3 ml-2 font-weight-bold">Medical Loan</a>
                    <a href="#fifth-2" class="mt-3 ml-2 font-weight-bold">Consumer Durable Loan</a>
                    <a href="#fifth-2" class="mt-3 ml-2 font-weight-bold">Travel Loan</a>
                    <a href="#fifth-2" class="mt-3 ml-2 font-weight-bold">Bike Loan</a>
                    <a href="#fifth-2" class="mt-3 ml-2 font-weight-bold">Mobile Loan</a>
                    <a href="#spacer"  class="mt-3 ml-2 font-weight-bold">Digital Gold & Silver</a>
                </div>
            </div>

            <div class="col-lg-4 px-lg-3 p-2">
                <div class="third-col-1 card px-3 py-3 mx-0 rounddiv">
                    <a href="#" class="mt-3 ml-2 font-weight-bold">Privacy Policy</a>
                    <a href="#" class="mt-3 ml-2 font-weight-bold">Grievance Redressal</a>
                    <a href="#" class="mt-3 ml-2 mb-3 font-weight-bold">Terms & Conditions</a>
                </div>
                <div class="third-col-1 card px-3 py-3 mx-0 rounddiv mt-lg-2 mt-4">
                    <p style="color: #fff;" class="mt-3 ml-2 font-weight-bold">Contact info :</p>
                    <a href="mailto:support@lenditt.com" class="ml-2 font-weight-bold"> support@lenditt.com</a>
                    <a href="tel:+917862839654" class="mt-1 ml-2 font-weight-bold">+917862839654</a>
                    <address class="mt-1 ml-2 mr-2 font-weight-bold">
                        Thaltej,Ahmedabad,Gujarat-380059
                    </address>
                </div>
            </div>
           
        </div>
    
        <div class="row footer-row m-0 p-0">
            <div class="col-lg-4 mt-lg-4 px-lg-3 mt-4 p-2">
                <div class=" card rounddiv">
                    <a href="#" class="mx-4 py-3">Complaints</a>
                </div>
            </div>
    
            <div class="col-lg-4 mt-lg-4 mt-4 px-lg-3 p-2">
                <div class="card rounddiv">
                    <a href="#" class="mx-4 py-3">File Your Grievance</a>
                </div>
            </div>
    
            <div class="col-lg-4 mt-lg-4 mt-4 px-lg-3 p-2">
                <div class="card rounddiv d-flex flex-row align-items-center justify-content-between">
                    <a href="#" class="text-danger ml-4 py-3">Delete Account</a>
                    <i class="fa-solid   fa-chevron-right py-3 mr-4 text-danger"></i>
                </div>
            </div>
        </div>
    </div>


    <div class="mt-5">
        <p class="rights text-center mb-2 font-weight-bold" style="color: #fff;">
            2024 &copy; Lenditt innovations & Technologies Pvt Ltd.All rights reserved.
        </p>
    </div>
</footer>