
<div class="eight mt-lg-5 mt-3 p-sm-0 mx-2">
    <h2 class="second-left-h text-center mb-5">Explore our Blogs</h2>
    <div class="row flex-blogs  m-0">
        <div class="card-deck m-0 p-0">
            <div class="col-lg-4 card m-0">
                <img class="card-img-top" src="lenditt images\eight-1.webp" alt="Card image">
                <div class="card-body hovtext">
                    <h4 class="card-title font-weight-bold">Instant Small Loans Apps Vs. Credit Cards</h4>
                    <p class="card-text ">
                        Instant small loan apps vs credit cards
                        both serve the single goal of helping with immediate finance without any hassles. If you have...
                    </p>
                </div>
            </div>
            
            <div class="col-lg-4 card m-0">
                <img class="card-img-top" src="lenditt images\eight-2.webp" alt="Card image">
                <div class="card-body hovtext">
                    <h4 class="card-title font-weight-bold">Impacts of CIBIL Score</h4>
                    <p class="card-text">
                        Is your CIBIL score less? But need a personal loan?
                        Learn what are the impacts of CIBIL score and what can be done to improve it...
                    </p>
                </div>
            </div>
            
            <div class="col-lg-4 card m-0">
                <img class="card-img-top" src="lenditt images\eight-3.webp" alt="Card image">
                <div class="card-body hovtext">
                    <h4 class="card-title font-weight-bold">10 factors of instant personal loan application</h4>
                    <p class="card-text">
                        Get ready to avail your instant personal
                        loan with Lenditt Get ready to avail your personal loan with Lenditt Fill your instant personal...
                    </p>
                </div>
            </div>
        </div>
    </div>


    <div class="carousel slide flex-carousel mx-sm-3 mx-0">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="card-img-top" src="lenditt images\eight-1.webp" alt="Card image">
                <div class="card-body hovtext">
                    <h4 class="card-title font-weight-bold">Instant Small Loans Apps Vs. Credit Cards</h4>
                    <p class="card-text ">
                        Instant small loan apps vs credit cards
                        both serve the single goal of helping with immediate finance without any hassles. If you have...
                    </p>
                </div>
            </div>
            
            <div class="carousel-item">
                <img class="card-img-top" src="lenditt images\eight-2.webp" alt="Card image">
                <div class="card-body hovtext">
                    <h4 class="card-title font-weight-bold">Impacts of CIBIL Score</h4>
                    <p class="card-text">
                        Is your CIBIL score less? But need a personal loan?
                        Learn what are the impacts of CIBIL score and what can be done to improve it...
                    </p>
                </div>
            </div>
            
            <div class="carousel-item">
                <img class="card-img-top" src="lenditt images\eight-3.webp" alt="Card image">
                <div class="card-body hovtext">
                    <h4 class="card-title font-weight-bold">10 factors of instant personal loan application</h4>
                    <p class="card-text">
                        Get ready to avail your instant personal
                        loan with Lenditt Get ready to avail your personal loan with Lenditt Fill your instant personal...
                    </p>
                </div>
            </div>
        </div>
    </div>	
    <div class="text-center">
        <a class="btn  font-weight-bold  my-4 faqsbtn">View More Blogs</a>
    </div>
</div>