<div class="first row px-0 px-sm-5 py-4 m-0 navbar navbar-expand-lg">
    <div class="first-left col-lg-3 d-flex flex-column align-items-start align-self-start  justify-self-sm-center">
        <div class="d-flex text-lg-center">
            <img src="lenditt images\brand1.webp" width="140px" class="navbar-brand">
        </div> 
        <div class="d-lg-flex flex-column d-none">
            <div class="d-flex align-self-start justify-content-center my-3"> 
                <a href="#second" class="btn btn-light nav-a d-flex align-center justify-content-center shadow">
                    <i class="fa-brands fa-apple"></i>
                    <span>ios App</span>
                </a>
            </div>
            <div class="d-flex align-self-start justify-content-center"> 
                <a href="#second" class="btn btn-light nav-a d-flex align-center justify-content-center shadow">
                    <i class="fa-brands fa-android"></i>
                    <span>Android App</span>
                </a>
            </div>
        </div>
    </div>



    <div class="carousel slide imgpanel col-lg-6 p-0" data-ride="carousel">
        <div class="carousel-inner text-center">
            <div class=" carousel-item active px-2 ">
                <div class="d-md-flex flex-column-reverse">
                    <p class="imghead">Cash Crunch? Get a Loan!</p>
                    <p class="imgpara">
                        Lenditt is here to lend a financial hand with quick, hassle-free, short-term loan processes.
                    </p>
                    <img src="lenditt images\firstimg-1.webp" class="img w-sm-50 w-75">
                </div>
                <a href="#" class="btn applynowbtn my-4">Apply Now</a>
            </div>
            <div class="carousel-item px-2">
                <div class="d-md-flex flex-column-reverse">
                    <p class="imghead">Dream Bike?</p>
                    <p class="imgpara">
                        Get on the road within minutes with Instant Bike Loan Service- Fast approvals and flexible repayment options.
                    </p>
                    <img src="lenditt images\firstimg-2.webp" class="img w-sm-50 w-75">
                </div>
                <a class="btn applynowbtn my-4">Apply Now</a>
            </div>
            <div class="carousel-item px-2">
                <div class="d-md-flex flex-column-reverse">
                    <p class="imghead">Medical Mishaps?</p>
                    <p class="imgpara">
                        Who needs a superhero when Lenditt is your Instant Medical Loan Provider? Faster than an ambulance!
                    </p>
                    <img src="lenditt images\firstimg-3.webp" class="img w-sm-50 w-75">
                </div>
                <a class="btn applynowbtn my-4">Apply Now</a>
            </div>
        </div>
    </div>

    <div class="firstright col-lg-3 h-100 d-none d-lg-block justify-content-end align-items-end align-self-start">
        <div class="d-flex justify-content-sm-end justify-content-center mb-3"> 
            <a href="#second" class="btn btn-light nav-a d-flex align-center justify-content-center shadow mt-sm-0">
                <i class="fa-solid fa-house"></i>
                <span>Home</span>
            </a>
        </div>
        <div class="d-flex justify-content-sm-end justify-content-center mb-3">
            <a href="#spacer" class="btn btn-light nav-a d-flex align-center justify-content-center shadow">
                <i class="fa-solid fa-coins"></i>
                <span>Gold & Silver</span>
            </a>
        </div>
        <div class="d-flex justify-content-sm-end justify-content-center mb-3">
            <a class="btn btn-light nav-a d-flex align-center justify-content-center shadow">
                <i class="fa-solid fa-arrow-right-arrow-left"></i>
                <span>Repayment</span>
            </a>
        </div>
        <div class="d-flex justify-content-sm-end justify-content-center mb-3">
            <a href="#contact" class="btn btn-light nav-a d-flex align-center justify-content-center shadow">
                <i class="fa-solid fa-phone-volume"></i>
                <span>Contact</span>
            </a>
        </div>
    </div>
</div>


<div id="tt">
    <div class="loanservices-1 mt-5 mx-md-5 mx-4">
        <h2>Instant Personal Loans up to ₹1 lakh!</h2>
        <p class="text-md-justify"> 
            Every day, we ride the rollercoaster of finances! One minute, you're feeling like the king of budgeting,
            and the next, you're scratching your head, wondering where all your money management skills went.
            That's when you see this app downloaded on your phone—The Lenditt.
            It's like having a financial lifeline or a money buddy you can rely on whenever cash troubles pop up.
        </p>
    </div>


   <div class="mx-4 mx-md-5 mt-5"> 
        <ul class="nav nav-tabs" id="ls-tabs" role="tablist">
            <li class="nav-item text-center">
                <a class="nav-link active" data-toggle="tab" href="#our-offer">OUR OFFER!</a>
            </li>
            <li class="nav-item text-center">
                <a class="nav-link" data-toggle="tab" href="#eligibility">ELIGIBILITY</a>
            </li>
            <li class="nav-item text-center">
                <a class="nav-link" data-toggle="tab" href="#hta">HOW TO APPLY?</a>
            </li>
            <li class="nav-item text-center">
                <a class="nav-link" data-toggle="tab" href="#documents">DOCUMENTS</a>
            </li>
            <li class="nav-item text-center">
                <a class="nav-link" data-toggle="tab" href="#why">WHY LENDITT?</a>
            </li>
        </ul>

        <div class="tab-content px-5 pt-4">
            <div id="our-offer" class=" tab-pane active">
                <div class="d-flex justify-content-between flex-wrap"> 
                    <div> 
                        <div class="d-flex align-items-center">
                            <i class="fa-solid fa-star"></i>
                            <div class="tab-pane-text">
                                <h3>LOAN AMOUNT</h3>
                                <p class="high-text">Starting from Rs. 10,000 up to 1 Lakh</p>
                            </div>
                        </div>
                        <div class=" d-flex align-items-center">
                            <i class="fa-solid fa-star"></i>
                            <div class="tab-pane-text">
                                <h3>INTEREST RATE</h3>
                                <p class="high-text">starts from 28% per annum</p>
                            </div>
                        </div>
                        <div class=" d-flex align-items-center">
                            <i class="fa-solid fa-star"></i>
                            <div class="tab-pane-text">
                                <h3>INSTANT DISBURSAL</h3>
                                <p class="high-text">15 Minutes</p>
                            </div>
                        </div>
                        <div class=" d-flex align-items-center">
                            <i class="fa-solid fa-star"></i>
                            <div class="tab-pane-text">
                                <h3>PAYMENT TENURE</h3>
                                <p class="high-text">3 to 4 months- 90 to 120 days</p>
                            </div>
                        </div>
                        <div class=" d-flex align-items-center">
                            <i class="fa-solid fa-star"></i>
                            <div class="tab-pane-text">
                                <h3>PAPERLESS PROCESS</h3>
                                <p class="high-text">100% Digitised</p>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end">
                        <img src="lenditt images/our offer.webp" class="align-self-center mr-lg-5 m-0 img-fluid" alt="" srcset="">
                    </div>
                </div>
            </div>

            <div id="eligibility" class=" tab-pane">
                <div class="d-flex justify-content-between flex-wrap">
                    <div>
                        <div class=" d-flex align-items-center">
                            <i class="fa-solid fa-star"></i>
                            <div class="tab-pane-text">
                                <h3>NATIONALITY</h3>
                                <p class="high-text">Must be an Indian Citizen.</p>
                            </div>
                        </div>
                        <div class=" d-flex align-items-center">
                            <i class="fa-solid fa-star"></i>
                            <div class="tab-pane-text">
                                <h3>AGE</h3>
                                <p class="high-text">Must be between 21 and 50 years old.</p>
                            </div>
                        </div>
                        <div class=" d-flex align-items-center">
                            <i class="fa-solid fa-star"></i>
                            <div class="tab-pane-text">
                                <h3>EMPLOYMENT</h3>
                                <p class="high-text">Must be a Salaried (>20,000) or self-Employed.</p>
                            </div>
                        </div>
                        <div class=" d-flex align-items-center">
                            <i class="fa-solid fa-star"></i>
                            <div class="tab-pane-text">
                            <h3>FINANCIAL DOCUMENTATION</h3>
                                <p class="high-text">Bank Statements.</p>
                            </div>
                        </div>
                        <div class=" d-flex align-items-center">
                            <i class="fa-solid fa-star"></i>
                            <div class="tab-pane-text">
                                <h3>KYC COMPLIANCE</h3>
                                <p class="high-text">For identity and address verification.</p>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end">
                        <img src="lenditt images/eligility.webp" class="align-self-center mr-lg-5 m-0 img-fluid" alt="" srcset="">
                    </div>
                </div>
            </div>

            <div id="hta" class=" tab-pane">
                <div class="d-flex justify-content-between flex-wrap">
                    <div>
                        <div class=" d-flex align-items-center">
                            <i class="fa-solid fa-star"></i>
                            <div class="tab-pane-text">
                                <h3>GET STARTED</h3>
                                <p class="high-text">Download the Lenditt App and Sign up.</p>
                            </div>
                        </div>
                        <div class=" d-flex align-items-center">
                            <i class="fa-solid fa-star"></i>
                            <div class="tab-pane-text">
                                <h3>ELIGIBILITY CHECK</h3>
                                <p class="high-text">Submit Basic details & Documents to check eligibility.</p>
                            </div>
                        </div>
                        <div class=" d-flex align-items-center">
                            <i class="fa-solid fa-star"></i>
                            <div class="tab-pane-text">
                                <h3>KYC & BANKING</h3>
                                <p class="high-text">Upload Documents for KYC and Bank Account Details.</p>
                            </div>
                        </div>
                        <div class=" d-flex align-items-center">
                            <i class="fa-solid fa-star"></i>
                            <div class="tab-pane-text">
                                <h3>LOAN SELECTION</h3>
                                <p class="high-text">Select from the eligible Loan Offers available to you.</p>
                            </div>
                        </div>
                        <div class=" d-flex align-items-center">
                            <i class="fa-solid fa-star"></i>
                            <div class="tab-pane-text">
                                <h3>ACCESS FUNDS</h3>
                                <p class="high-text">Check your Bank for the loan.</p>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end">
                        <img src="lenditt images/how to apply.webp" class="align-self-center mr-lg-5 m-0 img-fluid" alt="" srcset="">
                    </div>
                </div>
            </div>

            <div id="documents" class=" tab-pane">
                <div class="d-flex justify-content-between flex-wrap">
                    <div>
                        <div class=" d-flex align-items-center">
                            <i class="fa-solid fa-star"></i>
                            <div class="tab-pane-text">
                                <h3>PHOTO PROOF</h3>
                                <p class="high-text">Selfie</p>
                            </div>
                        </div>
                        <div class=" d-flex align-items-center">
                            <i class="fa-solid fa-star"></i>
                            <div class="tab-pane-text">
                                <h3>IDENTITY PROOF</h3>
                                <p class="high-text">PAN Card</p>
                            </div>
                        </div>
                        <div class=" d-flex align-items-center">
                            <i class="fa-solid fa-star"></i>
                            <div class="tab-pane-text">
                                <h3>ADDRESS PROOF</h3>
                                <p class="high-text">Aadhaar Card</p>
                            </div>
                        </div>
                        <div class=" d-flex align-items-center">
                            <i class="fa-solid fa-star"></i>
                            <div class="tab-pane-text">
                                <h3>EMPLOYMENT PROOF</h3>
                                <p class="high-text">Work mail or salary slip</p>
                            </div>
                        </div>
                        <div class=" d-flex align-items-center">
                            <i class="fa-solid fa-star"></i>
                            <div class="tab-pane-text">
                                <h3>INCOME PROOF</h3>
                                <p class="high-text">3 months`Bank statement</p>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end">
                        <img src="lenditt images/documents.webp" class="align-self-center mr-lg-5 m-0 img-fluid" alt="" srcset="">
                    </div>
                </div>
            </div>

            <div id="why" class="tab-pane">
               <div class="d-flex justify-content-between flex-wrap">
                    <div>
                        <div class=" d-flex align-items-center">
                            <i class="fa-solid fa-star"></i>
                            <div class="tab-pane-text">
                                <h3>100% SAFE & SECURE</h3>
                                <p class="high-text">Lenditt aims to keep your data safe and encrypted.</p>
                            </div>
                        </div>
                        <div class=" d-flex align-items-center">
                            <i class="fa-solid fa-star"></i>
                            <div class="tab-pane-text">
                                <h3>COLLATERAL FREE LOAN</h3>
                                <p class="high-text">No Asset or Collateral Submission</p>
                            </div>
                        </div>
                        <div class=" d-flex align-items-center">
                            <i class="fa-solid fa-star"></i>
                            <div class="tab-pane-text">
                                <h3>NO BRANCH VISITS</h3>
                                <p class="high-text">Get the Loan from the comfort of your home.</p>
                            </div>
                        </div>
                        <div class=" d-flex align-items-center">
                            <i class="fa-solid fa-star"></i>
                            <div class="tab-pane-text">
                                <h3>BORROW MULTIPLE TIMES</h3>
                                <p class="high-text">Apply for the loan as many times as you want.</p>
                            </div>
                        </div>
                        <div class=" d-flex align-items-center">
                            <i class="fa-solid fa-star"></i>
                            <div class="tab-pane-text">
                                <h3>100% TRANSPARENCY</h3>
                                <p class="high-text">No Hidden Charges</p>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end">
                        <img src="lenditt images/why lenditt.webp" class="align-self-center mr-lg-5 m-0 img-fluid" alt="" srcset="">
                    </div>
               </div>
            </div>
        </div>
    </div>
</div>




<div class="seventh px-lg-5 p-0 mt-3">
<h2 class="second-left-h text-center mb-md-5 mb-3 px-2">Frequently Asked Question</h2>
<div id="accordion" class="py-5 px-3">
    <div class="card my-4">
        <div class="card-header border-0 d-flex justify-content-between align-items-center" >
          <a  class="card-link stretched-link collapsed" data-toggle="collapse" href="#collapseOn">
            How does the Lenditt Application work?
          </a>
          <i class="fa-solid fa-caret-down"></i>
        </div>
        <div id="collapseOn" class="collapse" data-parent="#accordion">
            <div class="card-body">
                <p>
                    To begin with, download the Lenditt Application from the Play Store or the Apple App Store, 
                    depending on your device. Once installed, create a unique profile. After registration, 
                    fill in your primary and employment details, serving as proof. Following this, 
                    choose from the Loan offer and click to apply. </p>         
            </div>
        </div>
    </div>

    <div class="card my-4">
        <div class="card-header border-0 d-flex justify-content-between align-items-center" >
            <a  class="card-link collapsed stretched-link" data-toggle="collapse" href="#collapsetw">
                How many types of loans does Lenditt provide?   
            </a>
            <i class="fa-solid fa-caret-down"></i>
        </div>
        <div id="collapsetw" class="collapse" data-parent="#accordion">
            <div class="card-body">
                Lenditt Loans are Categorised into 6 distinct types. They are
                <ul>
                    <li>Instant Personal Loan</li>
                    <li>Instant Medical Loan</li>
                    <li>Instant Travel Loan</li>
                    <li>Instant Bike Loan</li>
                    <li>Instant Mobile Loan</li>
                    <li>Instant Consumer Durable Loan</li>
                </ul>       
            </div>
        </div>
    </div>

    <div class="card my-4">
        <div class="card-header border-0 d-flex justify-content-between align-items-center" >
            <a  class="card-link collapsed stretched-link" data-toggle="collapse" href="#collapsethre">
              What are the steps to apply for a Loan from Lenditt? 
            </a>
            <i class="fa-solid fa-caret-down"></i>
        </div>
        <div id="collapsethre" class="collapse" data-parent="#accordion">
            <div class="card-body">
                <strong>Step 1:</strong> Get Started- Download the Lenditt App and Sign up.
                <strong>step 2:</strong>Eligibility Check- Submit Basic details & Documents to check eligibility.
                <strong>step 3:</strong>KYC & Banking- Upload Documents for KYC and Bank Account Details.
                <strong>step 4:</strong>Loan Selection- Select from the eligible Loan Offers available.
                <strong>step 5:</strong>Access Funds- Check your Bank for the loan.         
            </div>
        </div>
    </div>

    <div class="card my-4">
        <div class="card-header border-0 d-flex justify-content-between align-items-center" >
            <a  class="card-link collapsed stretched-link" data-toggle="collapse" href="#collapsefou">
                Can I apply for a loan with a low credit score?
            </a>
            <i class="fa-solid fa-caret-down"></i>
        </div>
        <div id="collapsefou" class="collapse" data-parent="#accordion">
            <div class="card-body">
                Yes, you can apply for a loan with a low credit score.       
            </div>
        </div>
    </div>

    <div class="card my-4">
        <div class="card-header border-0 d-flex justify-content-between align-items-center" >
            <a  class="card-link collapsed stretched-link" data-toggle="collapse" href="#collapsefiv">
                How is the loan amount disbursed?  
            </a>
            <i class="fa-solid fa-caret-down"></i>
        </div>
        <div id="collapsefiv" class="collapse" data-parent="#accordion">
            <div class="card-body">
                The loan amount is directly deposited into the applicant's bank account without involving third parties,
                digital wallets, cash transactions, or other payment platforms.         
            </div>
        </div>
    </div>

    <div class="card my-4">
        <div class="card-header border-0 d-flex justify-content-between align-items-center" >
            <a  class="card-link collapsed stretched-link" data-toggle="collapse" href="#collapsesi">
                What repayment methods are available?   
            </a>
            <i class="fa-solid fa-caret-down"></i>
        </div>
        <div id="collapsesi" class="collapse" data-parent="#accordion">
            <div class="card-body">
                Repayment can be made via UPI, Debit Card, Credit Card, or Net Banking.      
            </div>
        </div>
    </div>

    <div class="card my-4">
        <div class="card-header border-0 d-flex justify-content-between align-items-center" >
            <a  class="card-link collapsed stretched-link" data-toggle="collapse" href="#collapseseve">
                Do I have to pay processing fees or hidden charges while applying for the loan?    
            </a>
            <i class="fa-solid fa-caret-down"></i>
        </div>
        <div id="collapseseve" class="collapse" data-parent="#accordion">
            <div class="card-body">
                Processing fees start from 6.5% of the loan amount (depending upon your risk profile). There are no hidden charges.     
            </div>
        </div>
    </div>

    <div class="card my-4">
        <div class="card-header border-0 d-flex justify-content-between align-items-center" >
            <a  class="card-link collapsed stretched-link" data-toggle="collapse" href="#collapseeigh">
                How can I contact customer support?           
            </a>
            <i class="fa-solid fa-caret-down" ></i>
        </div>
        <div id="collapseeigh" class="collapse"  data-parent="#accordion">
            <div class="card-body">
                If you encounter challenges, you can seek guidance through in-app chat,
                email at <strong>support@lenditt.com,</strong> or call at <strong>7600012589</strong>      
            </div>
        </div>
    </div>
</div>
<div class="text-center">
    <a class="btn  font-weight-bold  my-4 faqsbtn">View More FAQs</a>
</div>
</div>
