<div class="sixth px-3 mt-4 p-sm-5">
    <div class="sixth-1 p-sm-2 px-2">
        <p class="colored-text">Testimonial</p>
        <h2 class="second-left-h" style="line-height: 1.7;">
            Wondering what our customers have <br>experienced with us?
        </h2>
    </div>

    <div class="carousel slide rev shadow text-center d-flex mt-3 justify-content-center">
        <div class="carousel-inner w-75 reviews">
            <div class="carousel-item active rev-user">
                <i class="fa-solid fa-user-tie"></i>
                <h2 class="second-left-h">Pooja Gurung</h2>
                <div class="d-flex rev-star justify-content-center">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <p class="d-inline-block w-75"> 
                    Lenditt App is very convenient to take loan.
                    It has always been very helpful to me on the difficult time and i 
                    would consider every one to try this app.
                </p>
            </div>
            
            <div class="carousel-item rev-user">
                <i class="fa-solid fa-user-tie"></i>
                <h2 class="second-left-h">Divya Sudha</h2>
                <div class="d-flex rev-star justify-content-center">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <p class="d-inline-block w-75"> 
                    It's a best app to get an instant loan within mins and having 
                    supportive and spontaneous customer service staff if any issues
                     faced between the process. Thanks lenditt team.
                </p>
            </div>
            
            <div class="carousel-item rev-user">
                <i class="fa-solid fa-user-tie"></i>
                <h2 class="second-left-h">Srinivas Reddy</h2>
                <div class="d-flex rev-star justify-content-center">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <p class="d-inline-block w-75"> 
                    One of the best instant loan App. Within 30 min max everything cleared. 
                    I thank you for helping and your guidance is also excellent Lenditt team. 
                    Thanks for support. Always no. 1 in market.
                </p>
            </div>
            
            <div class="carousel-item rev-user">
                <i class="fa-solid fa-user-tie"></i>
                <h2 class="second-left-h">Meeta Gamre</h2>
                <div class="d-flex rev-star justify-content-center">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <p class="d-inline-block w-75"> 
                    Very quick and reliable App. Helped me when 
                    I was in cash crunch quick process and fast disbursement. 
                    Really thankful to the owner of this app. Make people life easy.
                </p>
            </div>
        </div>
            
        <a class="carousel-control-prev " href=".rev" data-slide="prev">
            <i class="fa-solid fa-circle-arrow-left" style="color:black;font-size: 45px;"></i>
        </a>
        <a class="carousel-control-next" href=".rev" data-slide="next">
            <i class="fa-solid fa-circle-arrow-right" style="color:black;font-size: 45px;"></i>
        </a>
    </div>
</div>