
<div class="fixedbtn position-fixed">
    <button type="button" class="btn d-flex">
        <i class="fa-solid fa-comment-dots text-white" style="font-size: 25px; margin-right: 10px;"></i>
        <span class="text-white">Let's Chat!</span>
    </button>
</div>

<div class="first row px-0 px-sm-5 py-4 m-0 navbar navbar-expand-lg">
    <div class="first-left col-lg-3 d-flex flex-column align-items-start align-self-start  justify-self-sm-center">
        <div class="d-flex text-lg-center">
            <img src="lenditt images\brand1.webp" width="140px" class="navbar-brand">
        </div> 
        <div class="d-lg-flex flex-column d-none">
            <div class="d-flex align-self-start justify-content-center my-3"> 
                <a href="#second" class="btn btn-light nav-a d-flex align-center justify-content-center shadow">
                    <i class="fa-brands fa-apple"></i>
                    <span>ios App</span>
                </a>
            </div>
            <div class="d-flex align-self-start justify-content-center"> 
                <a href="#second" class="btn btn-light nav-a d-flex align-center justify-content-center shadow">
                    <i class="fa-brands fa-android"></i>
                    <span>Android App</span>
                </a>
            </div>
        </div>
    </div>



    <div class="carousel slide imgpanel col-lg-6 p-0" data-ride="carousel">
        <div class="carousel-inner text-center">
            <div class=" carousel-item active px-2 ">
                <div class="d-md-flex flex-column-reverse">
                    <p class="imghead">Cash Crunch? Get a Loan!</p>
                    <p class="imgpara">
                        Lenditt is here to lend a financial hand with quick, hassle-free, short-term loan processes.
                    </p>
                    <img src="lenditt images\firstimg-1.webp" class="img w-sm-50 w-75">
                </div>
                <a href="#" class="btn applynowbtn my-4">Apply Now</a>
            </div>
            <div class="carousel-item px-2">
                <div class="d-md-flex flex-column-reverse">
                    <p class="imghead">Dream Bike?</p>
                    <p class="imgpara">
                        Get on the road within minutes with Instant Bike Loan Service- Fast approvals and flexible repayment options.
                    </p>
                    <img src="lenditt images\firstimg-2.webp" class="img w-sm-50 w-75">
                </div>
                <a class="btn applynowbtn my-4">Apply Now</a>
            </div>
            <div class="carousel-item px-2">
                <div class="d-md-flex flex-column-reverse">
                    <p class="imghead">Medical Mishaps?</p>
                    <p class="imgpara">
                        Who needs a superhero when Lenditt is your Instant Medical Loan Provider? Faster than an ambulance!
                    </p>
                    <img src="lenditt images\firstimg-3.webp" class="img w-sm-50 w-75">
                </div>
                <a class="btn applynowbtn my-4">Apply Now</a>
            </div>
        </div>
    </div>

    <div class="firstright col-lg-3 h-100 d-none d-lg-block justify-content-end align-items-end align-self-start">
        <div class="d-flex justify-content-sm-end justify-content-center mb-3"> 
            <a href="#second" class="btn btn-light nav-a d-flex align-center justify-content-center shadow mt-sm-0">
                <i class="fa-solid fa-question"></i>
                <span>Why Lenditt?</span>
            </a>
        </div>
        <div class="d-flex justify-content-sm-end justify-content-center mb-3">
            <a href="#fifth-2" class="btn btn-light nav-a d-flex align-center justify-content-center shadow">
                <i class="fa-brands fa-stack-overflow"></i>
                <span>Services</span>
            </a>
        </div>
        <div class="d-flex justify-content-sm-end justify-content-center mb-3">
            <a href="#spacer" class="btn btn-light nav-a d-flex align-center justify-content-center shadow">
                <i class="fa-solid fa-coins"></i>
                <span>Gold & Silver</span>
            </a>
        </div>
        <div class="d-flex justify-content-sm-end justify-content-center mb-3">
            <a class="btn btn-light nav-a d-flex align-center justify-content-center shadow">
                <i class="fa-solid fa-arrow-right-arrow-left"></i>
                <span>Repayment</span>
            </a>
        </div>
        <div class="d-flex justify-content-sm-end justify-content-center mb-3">
            <a href="#contact" class="btn btn-light nav-a d-flex align-center justify-content-center shadow">
                <i class="fa-solid fa-phone-volume"></i>
                <span>Contact</span>
            </a>
        </div>
    </div>
</div>


<div id="second" class="second row m-0 p-0 p-lg-5">
    <div class="second-left col-lg-6 px-2 py-3 p-sm-0">
        <div class="col-lg-9">
            <p class="colored-text">Why Lenditt? We're like the superheroes of loans!</p>
            <h2 class="second-left-h">Looking for an instant personal loans?</h2>
            <p class="high-text">
                Lenditt provides the lowest interest rates, exceptional customer service,
                and a rapid approval process. Drop your search! There's
                no better place than Lenditt! Check out our personal loan options!
            </p>
            <div class="d-flex justify-content-center justify-content-lg-start">
                <a class="btn applynowbtn my-3">Apply Now</a>
            </div>
        </div>
    </div>

    <div class="col-lg-6 d-sm-flex justify-content-lg-end justify-content-center">
        <img src="lenditt images\second-left-img.gif" alt="#" class="mw-100 h-auto">
    </div>
</div>


<div class="third p-sm-5 p-2 text-center d-flex align-items-center flex-column px-4">
    <div>
        <p class="colored-text mb-2">Interested? Here's the application process!</p>
        <h2 class="second-left-h">Guidelines for applying for an Instant Loan!</h2>
        <p class="high-text d-inline-block" style="max-width: 700px;">
            Step-by-step directions to navigate through Lenditt's loan application process.
             It allows you to secure the funds and accomplish your dreams.
        </p>
    </div>
    <div class="mt-4">
        <img src="lenditt images\firstimg-1.webp" class="img w-100">
        <div>
            <p class="imghead">Cash Crunch? Get a Loan!</p>
            <p class="imgpara">
                Lenditt is here to lend a financial hand with quick, hassle-free, short-term loan processes.
            </p>
            <a class="btn applynowbtn mb-4">Apply Now</a>
        </div>
    </div>
</div>

<div id="spacer"></div>
<div id="fourth" class="fourth card m-sm-5 m-2 mw-100 d-none d-lg-block">
    <img src="lenditt images\1cddee_da97dd51ddf74251a94b5fb1bf4a6d7b~mv2.webp" alt="" srcset="" class="card-img">
    <div class="card-img-overlay overlay row ">
        <div class=" justify-self-sm-center align-self-sm-center col-sm-6">
            <h2 class="second-left-h text-white">
                Explore the potential of
                digital gold and silver to shape the future of wealth.
            </h2>
            <a class="btn  investbtn font-weight-bold bg-white my-sm-4 ">Invest Now!</a>
        </div>
        <div class="align-self-center justify-content-end d-flex col-sm-6">
            <img src="lenditt images\augmont coin 1.webp" alt="" class="augmontimg ">
        </div>
    </div>
</div>



<div class="fifth px-2 px-sm-5">
    <div class="fifth-1 px-2 p-sm-2">
        <p class="colored-text">
            Our Instant Loan Services
        </p>
        <h2 class="second-left-h">Instant Loans: Your Path to <br>Financial Freedom</h2>
    </div>

    <div id="fifth-2" class="fifth-2 p-0 m-0 rows text-center">
        <div class=" row p-0 m-0">
            <div class="col-lg-4 mt-4 card px-2">
                <div class="colal shadow card-body">
                    <i class="fa-solid fa-indian-rupee-sign"></i>
                    <h2>Instant Personal Loan</h2>
                    <p>Get quick access to funds with our Instant Personal Loan service.</p>
                    <a href="loanservices.html" class="btn  font-weight-bold mb-sm-2 ">Know More</a>
                </div>
            </div>

            <div class="col-lg-4 mt-4 card px-2">
                <div class="colal shadow card-body">
                    <i class="fa-solid fa-briefcase-medical"></i>
                    <h2>Instant Medical Loan</h2>
                    <p>Immediate financial support for unexpected medical expenses.</p>
                    <a href="loanservices.html" class="btn font-weight-bold  mb-sm-2 ">Know More</a>
                </div>
            </div>

            <div class="col-lg-4 mt-4 card px-2">
                <div class="colal shadow card-body">
                    <i class="fa-solid fa-plane"></i>
                    <h2>Instant Travel Loan</h2>
                    <p>Quick funds to turn your travel dreams into reality.</p>
                    <a href="loanservices.html" class="btn  font-weight-bold  mb-sm-2 ">Know More</a>
                </div>
            </div>
        </div>

        <div class="row mt-4 p-0 m-0">
            <div class="col-lg-4 mt-4 card px-2">
                <div class="colal shadow card-body">
                    <i class="fa-solid fa-motorcycle"></i>
                    <h2>Instant Bike Loan</h2>
                    <p>Get on the road faster with our speedy bike loan service.</p>
                    <a href="loanservices.html" class="btn  font-weight-bold my-sm-4 ">Know More</a>
                </div>
            </div>

            <div class="col-lg-4 mt-4 card px-2">
                <div class="colal shadow card-body">
                    <i class="fa-solid fa-tv"></i>
                    <h2>Consumer Durable Loan</h2>
                    <p>Instant access to funds for your household needs.</p>
                    <a href="loanservices.html" class="btn  font-weight-bold  my-sm-4 ">Know More</a>
                </div>
            </div>

            <div class="col-lg-4 mt-4 card px-2">
                <div class="colal shadow card-body">
                    <i class="fa-solid fa-mobile-screen-button"></i>
                    <h2>Instant Mobile Loan</h2>
                    <p>Upgrade your device instantly with our mobile loan service.</p>
                    <a href="loanservices.html" class="btn  font-weight-bold  my-sm-4 ">Know More</a>
                </div>
            </div>
        </div>
    </div>
</div>





<div class="sixth px-3 mt-4 p-sm-5">
    <div class="sixth-1 p-sm-2 px-2">
        <p class="colored-text">Testimonial</p>
        <h2 class="second-left-h" style="line-height: 1.7;">
            Wondering what our customers have <br>experienced with us?
        </h2>
    </div>

    <div class="carousel slide rev shadow text-center d-flex mt-3 justify-content-center">
        <div class="carousel-inner w-75 reviews">
            <div class="carousel-item active rev-user">
                <i class="fa-solid fa-user-tie"></i>
                <h2 class="second-left-h">Pooja Gurung</h2>
                <div class="d-flex rev-star justify-content-center">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <p class="d-inline-block w-75"> 
                    Lenditt App is very convenient to take loan.
                    It has always been very helpful to me on the difficult time and i 
                    would consider every one to try this app.
                </p>
            </div>
            
            <div class="carousel-item rev-user">
                <i class="fa-solid fa-user-tie"></i>
                <h2 class="second-left-h">Divya Sudha</h2>
                <div class="d-flex rev-star justify-content-center">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <p class="d-inline-block w-75"> 
                    It's a best app to get an instant loan within mins and having 
                    supportive and spontaneous customer service staff if any issues
                     faced between the process. Thanks lenditt team.
                </p>
            </div>
            
            <div class="carousel-item rev-user">
                <i class="fa-solid fa-user-tie"></i>
                <h2 class="second-left-h">Srinivas Reddy</h2>
                <div class="d-flex rev-star justify-content-center">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <p class="d-inline-block w-75"> 
                    One of the best instant loan App. Within 30 min max everything cleared. 
                    I thank you for helping and your guidance is also excellent Lenditt team. 
                    Thanks for support. Always no. 1 in market.
                </p>
            </div>
            
            <div class="carousel-item rev-user">
                <i class="fa-solid fa-user-tie"></i>
                <h2 class="second-left-h">Meeta Gamre</h2>
                <div class="d-flex rev-star justify-content-center">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <p class="d-inline-block w-75"> 
                    Very quick and reliable App. Helped me when 
                    I was in cash crunch quick process and fast disbursement. 
                    Really thankful to the owner of this app. Make people life easy.
                </p>
            </div>
        </div>
            
        <a class="carousel-control-prev " href=".rev" data-slide="prev">
            <i class="fa-solid fa-circle-arrow-left" style="color:black;font-size: 45px;"></i>
        </a>
        <a class="carousel-control-next" href=".rev" data-slide="next">
            <i class="fa-solid fa-circle-arrow-right" style="color:black;font-size: 45px;"></i>
        </a>
    </div>
</div>




<div class="seventh px-lg-5 p-0 mt-3">
    <h2 class="second-left-h text-center mb-md-5 mb-3 px-2">Frequently Asked Question</h2>
    <div id="accordion" class="py-5 px-3">
        <div class="card my-4">
            <div class="card-header border-0 d-flex justify-content-between align-items-center" >
            <a  class="card-link stretched-link collapsed" data-toggle="collapse" href="#collapseOne">
                How does the Lenditt Application work?
            </a>
            <i class="fa-solid fa-caret-down"></i>
            </div>
            <div id="collapseOne" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    <p>
                        To begin with, download the Lenditt Application from the Play Store or the Apple App Store, 
                        depending on your device. Once installed, create a unique profile. After registration, 
                        fill in your primary and employment details, serving as proof. Following this, 
                        choose from the Loan offer and click to apply. </p>         
                </div>
            </div>
        </div>

        <div class="card my-4">
            <div class="card-header border-0 d-flex justify-content-between align-items-center" >
                <a  class="card-link collapsed stretched-link" data-toggle="collapse" href="#collapsetwo">
                    How many types of loans does Lenditt provide?   
                </a>
                <i class="fa-solid fa-caret-down"></i>
            </div>
            <div id="collapsetwo" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    Lenditt Loans are Categorised into 6 distinct types. They are
                    <ul>
                        <li>Instant Personal Loan</li>
                        <li>Instant Medical Loan</li>
                        <li>Instant Travel Loan</li>
                        <li>Instant Bike Loan</li>
                        <li>Instant Mobile Loan</li>
                        <li>Instant Consumer Durable Loan</li>
                    </ul>       
                </div>
            </div>
        </div>

        <div class="card my-4">
            <div class="card-header border-0 d-flex justify-content-between align-items-center" >
                <a  class="card-link collapsed stretched-link" data-toggle="collapse" href="#collapsethree">
                What are the steps to apply for a Loan from Lenditt? 
                </a>
                <i class="fa-solid fa-caret-down"></i>
            </div>
            <div id="collapsethree" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    <strong>Step 1:</strong> Get Started- Download the Lenditt App and Sign up.
                    <strong>step 2:</strong>Eligibility Check- Submit Basic details & Documents to check eligibility.
                    <strong>step 3:</strong>KYC & Banking- Upload Documents for KYC and Bank Account Details.
                    <strong>step 4:</strong>Loan Selection- Select from the eligible Loan Offers available.
                    <strong>step 5:</strong>Access Funds- Check your Bank for the loan.         
                </div>
            </div>
        </div>

        <div class="card my-4">
            <div class="card-header border-0 d-flex justify-content-between align-items-center" >
                <a  class="card-link collapsed stretched-link" data-toggle="collapse" href="#collapsefour">
                    Can I apply for a loan with a low credit score?
                </a>
                <i class="fa-solid fa-caret-down"></i>
            </div>
            <div id="collapsefour" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    Yes, you can apply for a loan with a low credit score.       
                </div>
            </div>
        </div>

        <div class="card my-4">
            <div class="card-header border-0 d-flex justify-content-between align-items-center" >
                <a  class="card-link collapsed stretched-link" data-toggle="collapse" href="#collapsefive">
                    How is the loan amount disbursed?  
                </a>
                <i class="fa-solid fa-caret-down"></i>
            </div>
            <div id="collapsefive" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    The loan amount is directly deposited into the applicant's bank account without involving third parties,
                    digital wallets, cash transactions, or other payment platforms.         
                </div>
            </div>
        </div>

        <div class="card my-4">
            <div class="card-header border-0 d-flex justify-content-between align-items-center" >
                <a  class="card-link collapsed stretched-link" data-toggle="collapse" href="#collapsesix">
                    What repayment methods are available?   
                </a>
                <i class="fa-solid fa-caret-down"></i>
            </div>
            <div id="collapsesix" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    Repayment can be made via UPI, Debit Card, Credit Card, or Net Banking.      
                </div>
            </div>
        </div>

        <div class="card my-4">
            <div class="card-header border-0 d-flex justify-content-between align-items-center" >
                <a  class="card-link collapsed stretched-link" data-toggle="collapse" href="#collapseseven">
                    Do I have to pay processing fees or hidden charges while applying for the loan?    
                </a>
                <i class="fa-solid fa-caret-down"></i>
            </div>
            <div id="collapseseven" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    Processing fees start from 6.5% of the loan amount (depending upon your risk profile). There are no hidden charges.     
                </div>
            </div>
        </div>

        <div class="card my-4">
            <div class="card-header border-0 d-flex justify-content-between align-items-center" >
                <a  class="card-link collapsed stretched-link" data-toggle="collapse" href="#collapseeight">
                    How can I contact customer support?           
                </a>
                <i class="fa-solid fa-caret-down" ></i>
            </div>
            <div id="collapseeight" class="collapse"  data-parent="#accordion">
                <div class="card-body">
                    If you encounter challenges, you can seek guidance through in-app chat,
                    email at <strong><a href="mailto:support@lenditt.com">support@lenditt.com</a>,</strong>
                    or call at <strong><a href="tel:7600012589">7600012589</a></strong>      
                </div>
            </div>
        </div>
    </div>
    <div class="text-center">
        <a class="btn  font-weight-bold  my-4 faqsbtn">View More FAQs</a>
    </div>
</div>
